.display-text {
    text-align: center;
}

.exit-btn {
    display: block;
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    width: 80px;
    height: 38px;
    margin: 0 auto;
    margin-top: 60px;
}

.exit-btn:hover {
    background-color: #c0392b;
}

#note-display {
    margin-top: 40%;
    font-size: 60px;
}

#freq-display {
    font-size: 24px;
}
